.photo-grid{
    display: grid;
    margin: auto;
    max-width: 1184px;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    gap:16px;
}
@media screen and (max-width:1024px){
    .photo-grid{
        grid-template-columns: repeat(3, 300px);
        margin:auto;
        margin-left: 44px;
        gap:14px;
        max-width: 928px;
    }
}
@media screen and (max-width:768px) {
    .photo-grid{
        max-width: 720px;
        grid-template-columns: repeat(2, 352px);
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width:320px) {
    .photo-grid{
        max-width: 288px;
        grid-template-columns:288px;
        margin:auto;
        gap: 12px;
    }
    
}