.places {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}
@media screen and (max-width: 1279px) {
  .places {
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .places {
    padding: 0;
  }
}