.place__website_url{
    font-family: Inter;
    font-weight: 400px;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color:#AAAAAA;
    margin-top: 198px;
}