.place__website-link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: white;
  list-style-type: none;
}
.place__website-link:hover {
  opacity: 0.7;
}
