.place__text{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
}
@media screen and (max-width: 320px){
    .place__text{
        grid-column-start: 1;
    
}}
@media screen and (min-width: 1280px) {
    .place__text {
      margin: 0;
      justify-content: center;
      max-width: 460px;
    }}
  