.footer__links{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}
.footer__links:last-child{
  margin-right: 0;
}
@media screen and (max-width: 698px) {
    .footer__links {
      flex-direction: column;
      margin-top: 64px;
      gap:32px;
    }
  }