.place__paragraph {
  display: grid;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  color: white;
  width: 100%;
  margin-top: 0;
}
.place__paragraph:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 863px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 330px;
  }
}
@media screen and (max-width: 715px) {
  .place__paragraph {
    max-width:290px;
  }
}
@media screen and (max-width: 635px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    grid-column-start: 1;
  }
}
@media screen and (max-width: 330px) {
  .place__paragraph {
    max-width: 310px;
  }
}

