.footer__copyright{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: white;
    display: flex;
    position:absolute;
    right:0;
    margin: 0;
}
@media screen and (max-width:320px){
    .footer__copyright {
        line-height: 14px;
        position: relative;
        text-align: left;
        margin-top: 16px;
        width: 100%;
    }
}