.footer__copyright{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width:320px){
    .footer__copyright {
        line-height: 14px;
    }
}