.place__top {
  display: grid;
  justify-content: start;
}


@media screen and (max-width: 768px) {
  .place__top {
    max-width: 720px;
    gap: 28px;
  }
}
@media screen and (max-width: 320px) {
  .place__top {
    max-width: 288px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .place__top {
    justify-content: start;
  }
}