.intro__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: white;
  margin-top: 40px;
}
@media screen and (max-width: 430px){
  .intro__text{
    max-width: 288px;
  }
}
