.intro__text {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 690px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: white;
  margin: 40px 0 0 0;
}
@media screen and (max-width: 430px){
  .intro__text{
    max-width: 288px;
  }
}
