.place__website-url {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  text-transform: uppercase;
}

