.cover {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  margin: 92px auto 0 auto;
}
@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width: 430px) {
  .cover {
    min-height: 200px;
  }
}
@media screen and (max-width:320px) {
  .cover {
    margin-top: 66px;
}
}