.cover__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 71px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
  width: 100%;
  display: flex;
  color: white;
  margin-bottom: 0;
  padding:0;
  margin-top: 0;
  max-width: 560px;
  min-width: 288px;
}
@media screen and (max-width: 496px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
