.footer {
  display: flex;
  margin: auto;
  flex-direction: row;
  margin-top: 92px;
  margin-bottom: 24px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .footer {
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: 95%;
  }
}
@media screen and (max-width: 698px) {
  .footer {
    width: 186px;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    width: calc(100% - (48px * 2));
    height: 100%;
  }
}