.footer {
  display: flex;
  margin: 92px 48px 24px 48px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
  }
}
@media screen and (max-width: 706px) {
  .footer {
    flex-direction: column;
    margin-top: 0;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 330px) {
  .footer {
    margin-left: 16px;
  }
}