.footer {
  display: flex;
  margin: 92px auto 24px auto;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - (48px * 2));
  height: 100%;
}
@media screen and (max-width: 698px) {
  .footer {
    flex-direction: column;
    margin-top: 0;
    justify-content: flex-start;
  }
}