.place__website {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-bottom: 48px;
  margin-left: 40px;
}
@media screen and (max-width: 1024px) {
  .place__website {
    margin-left: 35px;
  }
}
@media screen and (max-width: 768px) {
  .place__website {
    margin-left: 0;
  }
}
@media screen and (max-width: 635px) {
  .place__website {
    grid-column-start: 1;
    margin-bottom: 32px;
  }
}
